.header-table {
    background-color: rgba(103, 255, 15, 0.123);
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.header-row {
    display: table-row;
}
.header-cell {
    display: table-cell;
    border: 3px solid white;
    width: 20%;
    text-align: center;
}
.header-title {
    display: table-cell;
    border: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-list li {
    display: inline;
}
.nav-list a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}
.content {
    padding: 20px;
}
.footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid black;
}
.textFONT{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 20px;
}
.VIDSindex {
    vertical-align: top;
    width: 800px; 
    height: 450px;
}
.VIDScell {
    vertical-align: top;
}
.navFONT {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#hoverImage {
    transition: transform 0.3s ease;
    width: 350px;
    height: 250px;
    transition-delay: 100ms;
}

#hoverImage:hover {
    transform: scale(1.2);
}

.image-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.image-text .text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 1;
    margin-right: 10px;
    font-size: 14px;
    
}

.image-text img {
    margin-left: 10px;
    width: 150px;
    height: 150px;
}

.image-text.reverse .text {
    margin-left: 10px;
    margin-right: 0;
}

#hoverImageS {
    transition: transform 0.3s ease;
    width: 100px;
    height: 100px;
    transition-delay: 100ms;
}

#hoverImageS:hover {
    transform: scale(4);
}